{% load static %}
<section class="bg-primary" id="sponsors">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 text-center" style="padding-bottom:15px;">
        <h2 class="section-heading" style="color:#000;">Special thanks to our sponsors:</h2>
        <hr class="primary">
        <a href="http://www.ey.com/au/en/home"><img src={% static "images/logos/sponsor-ernst-young.png" %} class="sponsors"></img></a>
        <a href="http://www.defence.gov.au/"><img src={% static "images/logos/sponsor-defence.png" %} class="sponsors"></img></a>
        <a href="https://www.commbank.com.au/"><img src={% static "images/logos/sponsor-cba.png" %} class="sponsors"></img></a>
      </div>
    </div>
  </div>
</section>
