<footer class="contact-footer">
  <div style="text-align:center;">
    <span style="color:white;">Contact Us:</span>
    <div style="padding-right:15px;"></div>
    <a href="https://www.instagram.com/anu_fifty50/" style="margin-right:15px;"><i class="fa fa-lg fa-instagram text-primary sr-contact"></i></a>
    <a href="contact_form/contact_form.html" style="margin-right:15px;"><i class="fa fa-lg fa-envelope-o text-primary sr-contact"></i></a>
    <a href="https://www.facebook.com/ANUFifty50STEM/" style="margin-right:15px;"><i class="fa fa-lg fa-facebook-official text-primary sr-contact"></i></a>
    <a href="https://twitter.com/anu_Fifty50"><i class="fa fa-lg fa-twitter text-primary sr-contact"></i></a>   {# added fa-twitter icon #}
  </div>
</footer>
