{% extends 'blog/base.html' %}

{% load staticfiles %}

{% block content %}
<div class="row">

  <!-- Blog Entries Column -->
  <div class="col-md-8">

    <h1 class="page-header">{{post.title}}</h1>

        <p class="lead">by {{ post.author }}</p>
    <p><span class="glyphicon glyphicon-time"></span> {{ post.publish_date }}</p>
    <hr>
    <img src="{{ post.image.url }}" alt="{{ post.title }}" class="img-responsive">
    <hr>
    <p>{{ post.text|safe|linebreaksbr }}</p>

  </div>
</div>
</div>
{% endblock %}
