{% extends "mentorships/base.html" %}


{% block content %}

<div class="container">

  <div class="row">
    <div class="col-sm-12">

      <h2>{{ object.user.full_name }}</h2>
      {% if object.name %}
        <p>{{ object.name }}</p>
      {% endif %}
    </div>
  </div>

{% if object.user == request.user %}
<!-- Action buttons -->
<div class="row">

  <div class="col-sm-12">
    <a class="btn btn-primary" href="{% url 'user_update' %}" role="button">My Info</a>
    <a class="btn btn-primary" href="{% url 'account_email' %}" role="button">E-Mail</a>
  </div>

</div>
<!-- End Action buttons -->
{% endif %}


</div>
{% endblock content %}

