{% extends "mentorships/base.html" %}


{% block content %}



<div class="col-12 alert alert-success matched">
  <h4>Already Matched</h4>
  {% for relation in matched %}
  <div><a target="_blank" href="{% url 'admin:mentorships_relationship_change' relation.id %}">{{ relation }}</a></div>
{% endfor %}
</div>


<div class="clearfix">&nbsp;</div>

<form method="post" action=".">{% csrf_token %}

  <center><button type="submit" class="btn btn-success"> &nbsp; Save &nbsp; </button></center>
  <div>Matches not saved until "save" button is pressed.</div>

<div class="container">
<div class="row">
  <div class="col-6 match bucket">
    {% for role in mentees %}
    <div class="card card-outline-primary" data-child-id="{{ role.pk }}">
      <small class="alert alert-info">[MENTEE]</small> {% include "mentorships/_uuser_card.html" %}
    </div>
    {% endfor %}
  </div>

  <div class="col-6 bucket" id="target-bucket">
    {% for role in mentors %}
    <div class="col-6 match"  data-id="{{ role.pk }}"
           data-rel-id="new:{{ role.pk }}"
           data-child-id=""
           data-parent-id="{{ role.pk }}"
           id="card-{{ role.pk }}">
      <div class="card card-outline-info"
           data-rel-id="new:{{ role.pk }}"
           data-child-id=""
           data-parent-id="{{ role.pk }}">
        <input type="hidden" id="input-{{ role.pk }}" name="mentor-{{ role.pk }}" value="">
        <small class="alert alert-success">[MENTOR]</small> {% include "mentorships/_uuser_card.html" %}
      </div>
    </div>
    {% endfor %}
  </div>
</div>
</div>

</form>

  {{mentors}}



{% endblock %}



{% block footer %}
{% endblock footer %}

{% block styles %}
{{ block.super}}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/dragula/3.7.2/dragula.min.css" integrity="sha256-iVhQxXOykHeL03K08zkxBGxDCLCuzRGGiTYf2FL6mLY=" crossorigin="anonymous" />
<style>
  .bucket {
  height: 95vh;
  overflow: scroll;
  }

  .match {
  float: left;
  min-height: 44px;
  margin-right: 2%;
  margin-bottom: 10px;
  padding: 5px;
  border: 1px solid #999;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 0.4s ease-in-out;
  cursor: move;
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;
  box-sizing: border-box;
}


.card {
  width: 30em;
  padding: 5px;
  margin: 5px 0;
  background-color: rgba(0, 0, 0, 0.2);
}

.gu-mirror {
  cursor: grabbing;
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
}

input {
    width: 20px;
  }

.alert {
  padding: 0 2px;
}

div.matched  {
  padding: 5px 10px;
}

.matched > a:visited,
.matched > a {
   color: #337ab7;
}
</style>

{% endblock %}

{% block javascript %}
{{ block.super}}
<script src="https://cdnjs.cloudflare.com/ajax/libs/dragula/3.7.2/dragula.min.js" integrity="sha256-ug4bHfqHFAj2B5MESRxbLd3R3wdVMQzug2KHZqFEmFI=" crossorigin="anonymous"></script>
<script>
$(document).ready(function(){

  var containers = $('.match').toArray()
  var matchUp = dragula(containers)

  matchUp.on('drop', function(el, target, source){
    var target = $(target);
    var source = $(source);
    var input = $("#input-" + target[0].id.split("-")[1]);
    input.val($(el).data('child-id'));


    target.data('child-id', $(el).data('child-id'));

    // Remove child from source so not duplicated.
    source.data('child-id', '');
    var old_input = $("#input-" + source[0].id.split("-")[1]);
    old_input.val('');

    console.log("new input: " + input.val())
    console.log("old input: " + old_input.val())

    console.log(source.data('parent-id') + " => " + source.data('child-id'))
    console.log(target.data('parent-id') + " => " + target.data('child-id'))


    if(target.children().length > 2){
      console.log(target.children().length)
      target.addClass("alert alert-danger")
      $('.bucket').removeClass("alert alert-danger")
    }
    if(target.children().length == 2){
      console.log(target.children().length)
      target.addClass("alert alert-success")
      $('.bucket').removeClass("alert alert-success")
    }
    if(source.children().length < 3){
      source.removeClass("alert alert-danger")
    }
  })
});
   </script>
{% endblock %}
