{% extends "mentorships/base.html" %}


{% block content %}

<div class="container">

  <div class="row">
    <div class="col-sm-12">

      <legend>{{ object.user }}</legend>
        <b>{{ object.university.full_name }} ({{ object.university.abbreviation }})</b></p>

      <p><b>Studying</b>: {{ object.userdegree_set.first.program }} ({{ object.userdegree_set.first.study_year.reference }})
        <br><b>Interests:</b> {{ object.user.interests }}
        <br><b>Delivery:</b> {{ object.method_preferences.all|join:", " }}
      </p>

      <p><b>{{ object.userrole_set.all|pluralize:"Role,Roles" }}</b></p>

      {% for role in object.userrole_set.all %}
      {% ifchanged role.univeristy_session %}
      <b>{{ role.university_session.session.reference }}</b>
      {% endifchanged %}
      <p>{{ role.role|title }}, matched: {% if role.is_active %}Yes{% else %}No{% endif %}</p>
      {% endfor %}

    </div>
  </div>

</div>
{% endblock content %}
